/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
li {
    list-style: none;
}
a {
    text-decoration: none;
}
 /* ============================================= */
/*              Grid System                      */
/* ============================================= */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
    display: grid;
}
.widget-container-full, .widget-container-half {
    width: 95vw;
}
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    main {
        grid-template-columns: 50%;
    }
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}
/* ============================================= */
/*                Navigation                     */
/* ============================================= */
nav svg {
    height: 2.25em;
    width: 2.25em;
    fill: white;
}
nav {
    background-color: rgb(71, 76, 146);
    display: flex;
    justify-content: space-around;
    height: 3.75em;
    align-items: center;
    padding: 0 2em;
}
/* ============================================= */
/*              Header                           */
/* ============================================= */
header {
    display: flex;
    flex-direction: row;
    background-color: rgb(99, 105, 189);
    color: white;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    height: 4.5em;
}
header img {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    margin-right: .5em;
}
header h2 {
    margin-right: auto;
    font-weight: 400;
}
header svg {
    height: 1.5em;
    width: 1.5em;
    fill: white;
}
header h3 {
    font-weight: 300;
    font-size: 0.75em;
}
#vertical-line {
    height: 3em;
    width: 0.5em;
    border-left: 1px solid rgb(255, 253, 253);
    opacity: 0.4;
    margin-left: 0.5em;
}
.bell-svg::after {
    background-color: lime;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    content: "";
    display: inline-block;
    margin-bottom: 1.5em;
    margin-left: -.3em;
}
.bell {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ============================================= */
/*              Main Header                      */
/* ============================================= */
.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.spacing-block {
    background-color: rgb(252, 247, 247);
    border-left: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    height: 3em;
    flex-basis: 70%;
}
.headline {
    padding: 0 0.5em;
    font-weight: 400;
    font-size: 1.3em;
}
/* ============================================= */
/*              Dashboard                        */
/* ============================================= */
.alert-banner {
    background-color: rgb(99, 105, 189);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    color: white;
    height: 2.5em;
    align-items: center;
    padding: 1em;
    font-weight: 300;
    margin: 0.5em;
}
.alert-banner-close {
    margin-left: auto;
}
/* Traffic */
.traffic-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hourly {
    background-color: rgb(125, 192, 125);
    padding: .5em 1em;
    text-align: center;
    border-radius: 20px;
    color: white;
}
.traffic-header h3,
.mobile-users h3 {
    margin: .5em 0;
    font-weight: 700;
    font-size: .8em;
}
.traffic, 
.daily {
    border-bottom: 2px solid rgba(209, 206, 206, 0.5);
    padding: .5em 1em .5em;
}

/* Daily Traffic */
.daily h3 {
    margin: .5em 0 1em;
    font-weight: 700;
    font-size: .8em;
}
/* Mobile Users */
.mobile-users {
    border-bottom: 2px solid rgba(209, 206, 206, 0.5);
    padding: .5em 1em .5em;
}
#mobile-chart {
    padding: 1em .5em;
}
/* Social Container */
.social {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(209, 206, 206, 0.5);
    padding-bottom: .5em;
}
.social h3 {
    margin: 1em 0 .5em 1em;
    font-weight: 700;
    font-size: .8em;
}

.social-container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgba(209, 206, 206, 0.5);
    border-radius: .3em;
    height: 6em;
    margin: .5em 1em;
    padding: 1em;
    background-color: rgba(209, 206, 206, 0.3);
}
.social-image {
    background-color: rgb(99, 105, 189);
    height: 4em;
    width: 4em;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.social-image svg {
    fill: white;
    height: 2em;
    width: 2em;
    margin-left: 1em;
}
.social-text {
    margin-left: 1em;
}
.social-name {
    color: rgb(91, 96, 173);
    font-weight: 500;
}
.social-numbers {
    font-size: 2.2em;
    color: grey;
    font-weight: 300;
}
/* Members */
.members h3,
.recent-activity h3,
.message h3,
.settings h3 {
    margin: 1em 0 .5em 1.3em;
    font-weight: 700;
    font-size: .8em;
    align-self: flex-start;
}
.members,
.recent-activity,
.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.profile-image {
    border-radius: 50%;
    height: 4.5em;
    width: 4.5em;
}
.members a {
    color: rgb(136, 140, 202);
}
.members-container {
    border-bottom: 2px solid rgba(209, 206, 206, 0.5);
    padding: 1em;
    width: 90%;
}
.members div:last-child {
    width: 100%;
}
.recent-activity a {
    color: black;
    font-weight: 700;
}
/* MESSAGES */
input[type="text"],
textarea {
    margin: .5em 1em 1em;
    border: 2px solid rgba(209, 206, 206, 0.5);
    padding: 1rem;
    width: 90%;
    height: auto;
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    font-size: 1rem;
}
textarea {
    height: 8em;
}
input::placeholder,
textarea::placeholder {
    color: rgb(185, 184, 184);
}
.button-primary {
    width: 90%;
    height: 3em;
    color: white;
    border: none;
    background-color: rgb(99, 105, 189);
    border-radius: 5px;
    margin: .5em 0 1em;
}
.message {
    border-bottom: 2px solid rgba(209, 206, 206, 0.5);
}
/* Settings */
.switch {
    display: flex;
    flex-direction: row;
}
.switch-label {
    margin-right: auto;
}
select {
    width: 90%;
}